* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    height: 100vh;
    background-color: black;
    background-image: url(https://images.unsplash.com/photo-1485470733090-0aae1788d5af?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1517&q=80);
    background-size: cover;
    background-position: center;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
}

a:hover {
    color: orange;
}

header {
    position: relative;
    padding: 0 2rem;
}

.navbar {
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a {
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar .links {
    display: flex;
    gap: 2rem;
}

.toggle-btc {
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

.action_btc {
    background-color: rgb(0, 0, 0);
    color: white;
    padding: 0.5rem  1rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
    transition: scale 0.2 ease;
}

.github-icon {
    color: rgb(1, 0, 0); /* Defina a cor desejada */
}


.action_btc:hover {
    scale: 1.05;
    color: white;
}

.action_btc:active {
    scale: 0.95;
}

.dropdown_menu {
    display: none;
    position: absolute;
    right: 2rem;
    top: 60px;
    height: 0;
    width: 300px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: heigth .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu.open {
    height: 240px;
}

.dropdown_menu li {
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown_menu .action_btc {
    width: 100%;
    display: flex;
    justify-content: center;
}

section#hero {
    height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}

#hero h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
    color:  #ffffff;
}

#hero p {
    max-width: 90%;
    text-align: center;
    font-weight: lighter;
    font-size: 20px;
}

@media(max-width: 992px) {
    .navbar .links,
    .navbar .action_btc{
        display: none;
    }
}

.navbar .toggle-btc {
    display: block;
}

.dropdown_menu {
    display: block;
}

@media(max-width: 576px) {
    .dropdown_menu {
        left: 2rem;
        width: unset;

    }
}

/* Feito por: HORUS */